footer
  padding: 15px 30px 15px 30px
  background: #ccc
  max-height: 120px
  //background: url(img/hero-bg.jpg) center center
  //background-size: cover
  display: flex
  align-items: center
  justify-content: center

  .to-top
    font-size: 30px

  i
    margin: 0 5px 0 5px
    color: hotpink

    &:hover
      color: lightpink

